#synthesizer {
  width: 1400px;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: red;
  padding: 0.5%;
}

#control {
  width: 100%;
  height: 60%;
  overflow: hidden;
  background-color: yellow;
  position: relative;
}

.voice_control {
  height: 25%;
  width: 18%;
  margin-left: 1%;
  margin-top: 1%;
  border: double;
  border-width: 3px;
  padding: 0.5%;
}


#keyboard {
  width: 1396px;
  height: 40%;
  background: #000000;
  margin-left: auto;
  margin-right: auto;
}

.whitekey{
  width: 92px;
  height: 318px;
  margin-top: 1px;
  float: left;
  position: absolute;
  z-index: 1;
}

.not_pressed_whitekey {
  background-color: #ffffff;
}

.pressed_whitekey {
  background-color: #cccccc;
}

.blackkey {
  width: 46px;
  height: 191px;
  margin-top: 1px;
  float: left;
  position: absolute;
  z-index: 2;
}

.not_pressed_blackkey {
  background-color: #000000;
}

.pressed_blackkey {
  background-color: #333333;
}